*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-image:url(imagenesProyecto/fondo\ formulario.jpg);
    background-size: cover;
    background-color: #cad1c3;
    color:#2e1437; 
    
     /* scrollbar-color: #9f3647  #181419; /*nuevo
     scrollbar-width: thin;*/
    /*cad1c3  2e1437*/ 

}
.bodyDatos{
    height: 100vh;
    background-image:url(imagenesProyecto/fondo\ formulario.jpg);
    /*background:linear-gradient(to right top, #51425f,#51425f);*/
    background-size: cover;
    background-position: center;

    .headerDatos{
        color:#cad1c3;
        height: 8vh;
        padding:30px;
        .anclaLogo{
            text-decoration: none;
            color: #cad1c3;
            font-style:italic;
            font-weight: 800;
            font-size: 0.8rem;
             /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.15s infinite;
            }
        }
    }
    .main{
         
        .seccionDatos{
            background-color:#cad1c3;
            width: 40%;
            margin:0 auto;
            border-radius: 15px;
            padding: 40px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 80vh;
            font-size:1.2rem;
            .tituloDatos{
                font-size: 2.5rem;
                font-weight: 700;
                margin-top: 25px;
                margin-bottom: 30px;
            }
            
            form{
                width: 100%;
                padding:40px;
                input:not(.botonVolver),select{
                    width: 100%;
                    margin-bottom: 15px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1rem;
                    border-radius: 20px;
                    border: 2px solid #2e1437;
                    background-color: #333333;
                    outline: none;
                    color:rgb(255, 255, 255);
                
                }    
                .botonVolver{
                    width: 90%;
                    box-sizing:content-box;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    background-color:#2e1437;
                    border: 1px solid #2e1437;
                    color: #cad1c3;
                    padding: 1rem 1rem;
                    border-radius: 25px;
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 30px;
                }
            }    
            
           
        }
   
    }    

}



/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
    .bodyDatos{
        .headerRegistrarse{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloDatos{
                    font-size: 2rem;
                }
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                
                .botonVolver{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
                }
            }
               
               
            
        }
    }

}